/* 
#FD7F4C 
#387194 
#7BC1B7 
#000000 
#484848 
#A6A8AB 
#F8F8F8

*/

body {
  font-family: futura-pt, sans-serif;
}

.bg-col-1 {
  background-color: #fd7f4c;
}
.bg-col-2 {
  background-color: #387194;
}
.bg-col-3 {
  background-color: #7bc1b7;
}
.bg-col-4 {
  background-color: #000000;
}
.bg-col-5 {
  background-color: #484848;
}
.bg-col-6 {
  background-color: #a6a8ab;
}
.bg-col-7 {
  background-color: #f8f8f8;
}
.bg-col-8 {
  background-color: white;
}

.bd-col-1 {
  border-color: #fd7f4c;
}
.bd-col-2 {
  border-color: #387194;
}
.bd-col-3 {
  border-color: #7bc1b7;
}
.bd-col-4 {
  border-color: #000000;
}
.bd-col-5 {
  border-color: #484848;
}
.bd-col-6 {
  border-color: #a6a8ab;
}
.bd-col-7 {
  border-color: #f8f8f8;
}

.col-1 {
  color: #fd7f4c;
}
.col-2 {
  color: #387194;
}
.col-3 {
  color: #7bc1b7;
}
.col-4 {
  color: #000000;
}
.col-5 {
  color: #484848;
}
.col-6 {
  color: #a6a8ab;
}
.col-7 {
  color: #f8f8f8;
}

p a {
  color: #387194;
}

.navbar-link.is-active,
.navbar-link:focus,
.navbar-link:focus-within,
.navbar-link:hover,
a.navbar-item.is-active,
a.navbar-item:focus,
a.navbar-item:focus-within,
a.navbar-item:hover,
a:hover {
  color: black;
}

/* mixed this up by just "hard-coding" the hover states*/
.rounded-link {
  padding: 0.25em 1em;
  margin: 0 0.25em 0.5em 0em;
  border-radius: 1.4em;
  border-width: 1px;
  border-style: solid;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
}
.rounded-link.col-1:hover {
  color: white;
  background-color: #fd7f4c;
}
.rounded-link.col-2:hover {
  color: white;
  background-color: #387194;
}
.rounded-link.col-7:hover {
  color: black;
  background-color: white;
}
.rounded-link.bg-col-3:hover {
  background-color: transparent;
  color: #7bc1b7;
  border-color: #7bc1b7;
}

.rounded-link.bg-col-1.bd-col-1.col-7:hover{
  color: transparent;
  color: #fd7f4c;
  border-color: #fd7f4c;

}

.top-framed-element{
  margin-top: 40px;
}

section.bg-col-2 h2,
section.bg-col-2 {
  color: white;
}

@media screen and (min-width: 1200px) {
    .container.page-max-width{
      max-width: 960px!important;
    }
}


